
AsistenteExpress/.vs/AsistenteExpress/config/applicationhost.config
AsistenteExpress/.vs/AsistenteExpress/v16/Server/sqlite3/storage.ide-shm
AsistenteExpress/.vs/AsistenteExpress/v16/Server/sqlite3/storage.ide-wal
AsistenteExpress/AsistenteExpress/obj/Debug/AsistenteExpress.csprojAssemblyReference.cache
AsistenteExpress/.vs/AsistenteExpress/config/applicationhost.config
AsistenteExpress/AsistenteExpress/obj/Debug/AsistenteExpress.csprojAssemblyReference.cache
AsistenteExpress/AsistenteExpress/obj/Debug/AsistenteExpress.csprojAssemblyReference.cache
AsistenteExpress/.vs/AsistenteExpress/config/applicationhost.config
*.cache
