@model AsistenteExpress.Models.Proceso
<script type="text/javascript">

    var user = '@Session["user"]'
     function Save() {
        //debugger;
        var file = $('#photo_0').get(0);
        var img = file;
        //// VALIDA IMGs
        var ajaxData = new FormData();
        var nameFile = "";
        $.each($(img), function (i, obj) {
            //alert(obj.name);
            nameFile = obj.name;
            $.each(obj.files, function (i, file) {
                //console.log(name);
                ajaxData.append(nameFile, file);
            })
        });
        ///---
        //
                $.ajax({
                url: '@Url.Action("PUT_Ticket", "Tickets")',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: ajaxData,
                     success: function (data) {
                    //debugger;
                         if (data.Msj == "OK") {
                        //
                        $("#ModalDetalleSolicitud").modal("toggle");
                        MsjSave();
                        GET_NIVEL(data.NIVEL);
                        //refresh();
                        //
                    } else {
                        alert("Hubo un error, Intenta nuevamente");
                        //refresh();
                    }
                },
                    error: function (err) {
                    alert("Hubo un error, Intenta nuevamente");
                    //alert("Hubo un error, favor de reportarlo a su supervisor", data.message);
                }
            });
    }
    //
</script>


<style type="text/css">

    .dataTables_filter {
        text-align: right;
    }

    tfoot {
        display: table-header-group;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        z-index: 99;
        opacity: 0.7;
        background-color: #fff;
    }

    #loading-image {
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 100
    }

    /*ANIMATION ALERT*/
    .messagealert {
        color: red;
        position: relative;
        -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
        animation: mymove 2s infinite;
    }

    .bordes {
        border-radius: 15px;
        border-style: solid;
        border-color: #00a8e0;
    }

    .espacio {
        padding-top: 5px;
    }

    /* Safari 4.0 - 8.0 */
    @@-webkit-keyframes mymove {
        from {
            font-size: 12px;
        }

        to {
            font-size: 13px;
        }
    }

    @@keyframes mymove {
        from {
            font-size: 12px;
        }

        to {
            font-size: 13px;
        }
    }
</style>



@using (Html.BeginForm("GuardaReiteracionCRM", "MovistarIn", FormMethod.Post, new { id = "formFinal" }))
{
    <div class="container" style="margin-top: 70px;">
        <div class="row bordes" style="padding: 10px">
            @{ Html.RenderPartial("~/Views/Asistente/PartialViews/_PartialFiltros.cshtml"); }
            @{ Html.RenderPartial("~/Views/Asistente/PartialViews/_PartialGridProcesos.cshtml"); }
        </div>
        <br />
        <div class="row bordes" style="padding: 10px">
            @{ Html.RenderPartial("~/Views/Asistente/PartialViews/_PartialProceso.cshtml"); }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Modulos/procesos.js" type="text/javascript" charset="UTF-8"></script>
}
