@model AsistenteExpress.Models.Proceso

<style type="text/css">

    .dataTables_filter {
        text-align: right;
    }

    tfoot {
        display: table-header-group;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        z-index: 99;
        opacity: 0.7;
        background-color: #fff;
    }

    #loading-image {
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 100
    }

    /*ANIMATION ALERT*/
    .messagealert {
        color: red;
        position: relative;
        -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
        animation: mymove 2s infinite;
    }

    .bordes {
        border-radius: 15px;
        border-style: solid;
        border-color: #00a8e0;
    }

    .espacio {
        padding-top: 5px;
    }

    /* Safari 4.0 - 8.0 */
    @@-webkit-keyframes mymove {
        from {
            font-size: 12px;
        }

        to {
            font-size: 13px;
        }
    }

    @@keyframes mymove {
        from {
            font-size: 12px;
        }

        to {
            font-size: 13px;
        }
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    #modal-content_myModalViewer {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    #modal-content_myModalForm {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 35%;
    }

    /* The Close Button */
    #close_myModalForm,
    #close_myModalViewer {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        #close_myModalForm:hover,
        #close_myModalForm:focus,
        #close_myModalViewer:hover,
        #close_myModalViewer:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .pdfobject-container {
        height: 60rem;
        border: 1rem solid rgba(0,0,0,.1);
    }
</style>


<div class="container" style="margin-top: 70px;">
    <div class="row bordes" style="padding: 10px">
        @{ Html.RenderPartial("~/Views/Asistente/PartialViews/_PartialFiltros.cshtml"); }
        @{ Html.RenderPartial("~/Views/Asistente/PartialViews/_PartialGridProcesos.cshtml"); }
    </div>
    <br />
        @{ Html.RenderPartial("~/Views/Asistente/PartialViews/_PartialProceso.cshtml"); }
    <br />

    <!-- The ModalViewer -->
    <div id="myModalViewer" class="modal">

        <!-- Modal content -->
        <div id="modal-content_myModalViewer">
            <span class="close_myModalViewer">&times;</span>
            <div id="pdfRenderer"></div>
        </div>

    </div>
    <!-- The ModalViewer -->    

</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/Modulos/procesos.js" type="text/javascript" charset="UTF-8"></script>

